@page
@model FrontAndBack.Pages.Players.PlayersModel
@{
     ViewData["ShowButtons"] = true;
    <h1>Players</h1>
    @if(TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-center">
            @TempData["SuccessMessage"]
        </div>
    }

    //@await Component.InvokeAsync("HeadCount");
    <vc:head-count role = "@null"></vc:head-count>

    <div class="row">
        @foreach(var item in Model.Players)
        {
           <div class="col-12 col-sm-6 col-lg-4">
                <partial name="_DisplayPlayerPartial" model = "item" view-data = "ViewData"/>
           </div>
        }
    </div>
}
