@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Message</h1>
    <p>Playing a game of geography trivia not only lets you show off your knowledge of random tidbits about the world, it's also a great way to learn. Even if you don't know the answer, it's a lot of fun to see what everybody guesses. You'll end up knowing a little bit more about geography by the end</p>
    <a href="/Players/Edit">Registration</a>
</div>
